<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>
<%= @students.find_each do |student| %>
	<table>
		<tr>
			<th>Student Names</th>
		</tr>
		<tr>
			<td><%= student.name %></td>
			<td><%= link_to "show", student_path(student) %></td>
		</tr>
			
	</table>	
<% end %>
<%= link_to "Add Student", new_student_path, class: "button" %>